#kanbanTable tr,#kanbanTable td {
	vertical-align: top;
	width: 100%;
}

.kanbanColumn.custom-state-active {
	background: #eee;
}

.kanbanColumn li {
	float: left;
	width: 96px;
	padding: 0.4em;
	margin: 0 0.4em 0.4em 0;
	text-align: center;
}

.kanbanColumn li h5 {
	margin: 0 0 0.4em;
	cursor: move;
}

.drop {
	height: 100%;
}

.ticket {
	height: 70px;
	font-family: "Lucida Grande", Trebuchet MS, verdana, arial, helvetica,
		sans-serif;
	font-size: 10px;
	cursor: crosshair;
}

.bug {
	background-color: #ffe3e3;
	border-color: #ffcccc;
	color: #a64242;
	border-width: 1px;
	border-style: solid;
}

.story {
	background-color: #e8f4d9;
	border-color: #d3e8ba;
	color: #468a37;
	border-width: 1px;
	border-style: solid;
}

.task {
	background-color: #ebf6ff;
	border-color: #c3e5ff;
	color: #3977a6;
	border-width: 1px;
	border-style: solid;
}

.kanban-area {
	height: 100%;
}

.ticketKey {
	font-weight: bolder;
	font-size: 11px;
}