/* A CSS Framework by Mike Stenhouse of Content with Style */

/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
    div#content {
        position: relative;
        width: 96%;
        
        margin: 0 auto 20px auto;
        padding: 0;
        
        text-align: left;
    }
    div#main {
        float: left;
        width: 100%;
        display: inline;
    }
    div#sub {
        float: right;
        width: 120px;
        display: inline;
    }
        div#sub ul#local li a {
            margin-left: 40px;
        }
        div#sub ul#local>li a {
            margin-left: -5px !important;
        }
    div#nav {
        position: absolute;
        top: -25px;
        left: 0px;
        width: 100%;

        text-align: left;
    }
/* END CONTENT */