@import url(../cupertino/jquery-ui-1.8.4.custom.css);

@import url(tools.css);

@import url(typo.css);

@import url(layout-navtop-subright.css);

@import url(layout.css);

@import url(tabs.css);

@import url(../box.css);

@import url(../forms.css);

@import url(../messages.css);

@import url(../search.css);

@import url(../htmlbox.css);

img.inativo {
	background-color: #ffffff;
	opacity: 0.4;
	Ê filter: alpha(opacity = 40);
	padding: 2px;
}

img.ativo {
	background-color: #ffffff;
	opacity: 1;
	Ê filter: alpha(opacity = 100);
	padding: 2px;
}

div.person_name {
	text-align: center;
	font-size: 10px;
}

div.person {
	background-color: #f9f9f9;
	border-width: thin;
	border-color: #CCCCCC;
	border-style: solid;
	padding: 3px;
	margin: 3px;
	float: left;
}

textarea.mono,.ui-widget textarea.mono,textarea.markItUpEditor {
	font-size: 12px !important;
	font-family: Monaco, Courier New, Courier, monospace !important;
	width: 100%;
	height: 400px;
}

.categoria {
	font-size: 9pt;
	font-weight: bolder;
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-inline-policy: continuous;
	padding: 1px;
	margin-right: 2px;
}

.categoria-cinza {
	color:white;
	background-color:rgb(102, 102, 102);
}

.categoria-vermelho {
	color:white;
	background-color:rgb(197, 0, 0);
}

.categoria-azul {
	color:white;
	background-color:rgb(49, 133, 197);
}

.categoria-azul_oceano {
	color:white;
	background-color:rgb(0, 64, 128);
}

.categoria-azul_sky {
	color: #33667F;
	border-color: #4D9ABF;
	background-color:rgb(102, 204, 255);
	border-width: 1px;
	border-style: solid;
}

.categoria-laranja {
	color: #754F14;
	border-color: #B57A1F;
	background-color:#F5A52A;
	border-width: 1px;
	border-style: solid;
}

.categoria-verde {
	color:white;
	background-color:rgb(44, 83, 34);
}

.categoria-preto {
	color:white;
	background-color:rgb(0, 0, 0);
}

.categoria-branco {
	color: #818384;
	border-color: #A5A8AA;
	background-color:white	;
	border-width: 1px;
	border-style: solid;
}

.categoria-amarelo {
	background-color:rgb(255,255,0);
	border-color: #d3e8ba;
	color: #468a37;
	border-width: 1px;
	border-style: solid;
}

.categoria-amarelo_banana {
	background-color:#FFFC77;
	border-color: #BFBD59;
	color: #7F7E3B;
	border-width: 1px;
	border-style: solid;
}


.categoria-rosa {
	background-color: #ffe3e3;
	border-color: #ffcccc;
	color: #a64242;
	border-width: 1px;
	border-style: solid;
}

.categoria-rosa_choque {
	background-color:#FF7ECD;
	border-color: #BF0060;
	color: #7F0040;
	border-width: 1px;
	border-style: solid;
}

.categoria-moca {
	color:white;
	background-color:rgb(128,64,0);
}

.categoria-aspargo {
	color:white;
	background-color:rgb(128,128,0);
}

.categoria-verde_primavera {
	color: #254419;
	border-color: #5DAA3D;
	background-color:#7FC462;
	border-width: 1px;
	border-style: solid;	
}

.categoria-verde_agua {
	background-color: #e8f4d9;
	border-color: #d3e8ba;
	color: #468a37;
	border-width: 1px;
	border-style: solid;
}

option.nenhuma {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.center {
	text-align: center;
}

.topHeader th {
	background-color: #f9f9f9;
	color: black;
	text-align: center; 
}

.group {
	padding: 20px;
	background-color: #f5f5f5;
	border-width: 1px;
}

.gravatar50 {
	width: 50px;
	height: 50px;
}