@import url(tools.css);

@import url(typo.css);

@import url(layout-navtop-subright.css);

@import url(layout.css);

@import url(tabs.css);

@import url(../box.css);

@import url(../forms.css);

@import url(../messages.css);

@import url(../search.css);

@import url(jquery/ui.all.css);

@import url(../htmlbox.css);

img.inativo {
	background-color:#ffffff;
	opacity: 0.4;
Ê   filter:alpha(opacity=40);
	padding: 2px; 
}

img.ativo {
	background-color:#ffffff;
	opacity: 1;
Ê   filter:alpha(opacity=100);
	padding: 2px;
}