<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.jdbc.fetch_size">20</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.show_sql">true</property>

		<!-- core classes -->
		<mapping class="br.com.bluesoft.pronto.core.Backlog" />
		<mapping class="br.com.bluesoft.pronto.core.Papel" />
		<mapping class="br.com.bluesoft.pronto.core.TipoDeTicket" />

		<!-- model classes -->
		<mapping class="br.com.bluesoft.pronto.model.Sprint" />
		<mapping class="br.com.bluesoft.pronto.model.Ticket" />
		<mapping class="br.com.bluesoft.pronto.model.Usuario" />
		<mapping class="br.com.bluesoft.pronto.model.TicketLog" />

		<listener type="pre-delete" class="br.com.bluesoft.pronto.dao.HibernateAuditLogListener" />
		<listener type="pre-update" class="br.com.bluesoft.pronto.dao.HibernateAuditLogListener" />
		<listener type="pre-insert" class="br.com.bluesoft.pronto.dao.HibernateAuditLogListener" />
		<listener type="pre-load" class="br.com.bluesoft.pronto.dao.HibernateAuditLogListener" />

	</session-factory>
</hibernate-configuration>