a.box {
	position: relative;
	padding: 0;
	text-decoration: none;
	cursor: help;
	z-index: 24;
}

a.box:hover {
	text-decoration: none;
	background: transparent;
	z-index: 25;
}

a.box span {
	display: none;
}

a.box:hover span {
	display: block;
	position: absolute;
	width: 230px;
	top: 2em;
	text-align: justify;
	text-decoration: none;
	left: 0;
	font: 11px;
	padding: 5px 10px;
	border: 1px solid #999;
	background: #e0ffff;
	color: #000;
}