* div.htmlbox {
	background-color: #FAFAD2;
	width: 100%;
	margin: 5px;
	padding: 10px;
	border-width: 2px;
	border-color: black;
}

div.htmlbox ul {
	list-style-type: disc;
}

div.htmlbox ol {
	list-style-type: decimal;
}

.type-thumb {
	padding: 0px;
	margin: 0px;
}

.thumbcaption {
	font-size: 10px;
	margin: 0px;
	padding: 1px;
}

pre {
	border: 1px;
	border-color: gray;
	background-color: f9f9f9;
	padding: 5px;
	margin: 2px;
}