* div.htmlbox {
	background-color: #FAFAD2;
	width: 100%;
	margin: 5px;
	border-width: 2px;
	border-color: black;
}

* div.htmlbox ul {
	list-style-type: !important disc;
}

* div.htmlbox ol {
	list-style-type: !important decimal;
}
