#jsddm {
	margin: 0;
	padding: 0;
}

#jsddm li {
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#jsddm li a {
	display: block;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	width: 100px;
	color: #EAFFED;
	white-space: nowrap;
}

#jsddm li a:hover {
	background: #ebf5fc;
}

#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}

#jsddm li ul li {
	float: none;
	display: inline;
}

#jsddm li ul li a {
	width: auto;
	background: #f9f9f9;
	color: #24313C;
	font: 12px Tahoma, Arial;
}

#jsddm li ul li a:hover {
	background: #ebf5fc;
}