.projeto {
	width: 30%;
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	float: left;
	border: 1px solid #e0e0e0;
	background-color: #f5f5f5;
}

.backlog {
	clear: both;
}

.backlog h4 {
	font-weight: bold;
}

h3 {
	text-align: center;
	padding: 5px;
}

.sprint-nome {
	font-weight: bold;
	display: block;
	padding: 3px;
	margin-bottom: 4px;
	margin-top: 4px;
}

.sprint {
	margin-top: 10px;
}

.tipo {
	padding: 3px;
}

.tipos {
	margin-bottom: 10px;
}

.etapa,.etapa-total {
	margin-left: 25px;
	display: block;
}

.etapa-total {
	font-weight: bold;
}

.etapa-nome,.tipo-nome {
	margin-left: 200px;
	float: left;
}

.etapa-quantidade,.tipo-quantidade {
	float: right;
	display: block;
}

.backlog-name {
	float: left;
}

.milestone-descricao {
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin: 5px;
}